<div class="controls">
    <button id="view-db-btn" class="control-btn active glow-purple">View DB</button>
    <button id="view-alerts-btn" class="control-btn glow-pink">Alert Cards</button>
    <!--
    <button id="db-apis-toggle" class="control-btn toggle off glow-red">DB APIs OFF</button>
    <button id="core-trader-toggle" class="control-btn toggle off glow-red">Core Trader OFF</button>
    <button id="backtester-btn" class="control-btn">Backtester</button>
    -->
</div>

<div class="controls-row-secondary" id="dbviewcontrol-container">
    <!-- dbviewcontrol.html will be loaded here -->
</div>